<!-- change password -->
<template name="skelelistActionChangePassword">
    <div class="waves-effect waves-light btn thirdColor skelelistChangePassword">
        <i class="material-icons small left">lock</i>
        {{_ "changePassword_btn"}}
    </div>

    <div class="skelelistActionChangePasswordModalWrapper"></div>
</template>

<!-- change password modal -->
<template name="skelelistActionChangePasswordModal">
    <div id="skeletorUserChangePasswordModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="vSpaced">
                <h5>{{_ "changePasswordTitle_lbl"}} <b>{{item.username}}</b></h5>
            </div>

            <div id="skeletorUserChangePasswordForm"></div>
        </div>
        <div class="modal-footer" id="skeletorUserChangePasswordToolbar"></div>
    </div>
</template>

<!-- toolbar for users' change password form -->
<template name="userChangePasswordToolbar">
    <div class="waves-effect waves-light btn secondColor skeleformChangePassword">
        <i class="material-icons small left">lock</i>
        <span>{{_ "update_btn"}}</span>
    </div>
    <div class="waves-effect waves-light btn firstColor undoChangePassword">
        <i class="material-icons small left">undo</i>
        <span>{{_ "cancel_btn"}}</span>
    </div>
</template>
