<!-- delete button -->
<template name="skelelistActionDelete">
    <div class="waves-effect waves-light btn secondColor skelelistDelete">
        <i class="material-icons small left">delete</i>
        {{i18n "delete_btn"}}
    </div>
</template>


<!-- delete timer confirmation block -->
<template name="skelelistActionDeleteTimerConfirm">
    <div class="deleteConfirmation">
        <div class="barLabel">
            {{i18n "undoDelete_lbl"}} {{secondsRemaining}} <span class="cancelDeletion">{{i18n "cancel_btn"}}</span>
        </div>
        <div class="switch">
            <label>
                {{i18n "no_lbl"}}
                <input type="checkbox" class="deleteActionSwitch">
                <span class="lever"></span>
                {{i18n "yes_lbl"}}
            </label>
        </div>
        <div class="progress">
            <div class="determinate"></div>
        </div>
    </div>
</template>


<!-- delete buttons confirmation block -->
<template name="skelelistActionDeleteConfirm">
    <div class="deleteConfirmation">
        <div><b>{{i18n "deleteConfirmation_lbl"}}</b></div>
        <div>
            <a class="confirmDeletion secondColor waves-effect waves-light btn">
                <i class="material-icons left">done</i>
                {{i18n "yes_lbl"}}
            </a>
            <a class="cancelDeletion firstColor waves-effect waves-light btn">
                <i class="material-icons left">close</i>
                {{i18n "no_lbl"}}
            </a>
        </div>
    </div>
</template>
