<!-- main skelelist template -->
<template name="skelelist">
    <div class="skelelist">
        {{> Template.dynamic template=(listStyle this.schema.__listView.style) data=this}}
    </div>
</template>


<!-- table list style -->
<template name="skelelistTable">
    {{> skelelistLangBar}}

    {{#if skeleIsDataReady this}}
        <table class="{{this.schema.__listView.classes}} responsive-table skelelistTable">
            <thead>
                <tr>
                    {{#with (skeleGetReactiveVar this.schema.listView)}}
                        {{#each this.itemFields}}
                            <th class="skeleListViewHeader">{{label this}} {{{isSorted this}}}</th>
                        {{/each}}
                        {{#if this.itemActions}}
                            <th>{{i18n "actions_lbl"}}</th>
                        {{/if}}
                    {{/with}}
                </tr>
            </thead>
            <tbody>
                {{#each getDocumentsList this}}
                    {{#with listRecord this ../schema.listView ../schema}}
                        <tr data-id="{{this._id}}" class="{{this.skelelistOptions.class}}">
                            {{#each (skeleGetReactiveVar ../../schema.listView property="itemFields")}}
                                {{#with field this ../.. ../../../schema ../../..}}
                                    <td>
                                        {{#if this.link}}
                                            <a class="skelelistLink" href="{{this.link}}">
                                                {{this.value}}
                                            </a>
                                        {{else}}
                                            {{this.value}}
                                        {{/if}}
                                    </td>
                                {{/with}}
                            {{/each}}

                            {{> skelelistActions (actionsData this)}}
                        </tr>
                    {{/with}}
                {{/each}}
            </tbody>
        </table>
    {{else}}
        {{> gearContent this.schema}}
    {{/if}}

    {{#if isPaginated this}}
        {{> skelelistPagination this}}
    {{/if}}
</template>
