<!-- list query and infos -->
<template name="skelelistInfo">
    <div class="skelelistInfo">
        <div class="skeleCounter">
            <div class="skeleCounterDescription">
                {{i18n "totalNumber_lbl"}}
            </div>
            <div class="skeleCounterNumber">{{documentsCounter}}</div>
        </div>
    </div>
</template>


<!-- list lang bar -->
<template name="skelelistLangBar">
    {{#if isMultilingual}}
        {{i18n "contentsLang_lbl"}}
        <div class="skelelistLangs">
            {{#each langs}}
                <div class="langFlag {{isActiveLang this}}" data-lang="{{this}}">
                    <img src="{{skeleStaticPath}}/images/icons/lang/{{this}}.jpg">
                </div>
            {{/each}}
        </div>
    {{/if}}
</template>


<!-- pagination -->
<template name="skelelistPagination">
    {{#if skeleIsDataReady this}}
        {{#if (skeleGetReactiveVar this.appendLoadMore)}}
            <div class="skeleLoadMore {{loadMoreClass}}">
                {{i18n "loadMore_lbl"}}
            </div>
        {{/if}}
    {{/if}}
</template>


<!-- search toolbar -->
<template name="skelelistSearch">
    <div class="skelelistSearchBar">
        Trova Bruno
        <div class="btn skelelistSearchBtn">
            Search
        </div>
    </div>
</template>
