<!-- list lang bar -->
<template name="skelelistLangBar">
    {{#if isMultilingual}}
        {{i18n "contentsLang_lbl"}}
        <div class="skelelistLangs">
            {{#each langs}}
                <div class="langFlag {{isActiveLang this}}" data-lang="{{this}}">
                    <img src="{{skeleStaticPath}}/images/icons/lang/{{this}}.jpg">
                </div>
            {{/each}}
        </div>
    {{/if}}
</template>


<!-- pagination -->
<template name="skelelistPagination">
    <div class="skeleLoadMore">
        {{i18n "loadMore_lbl"}}
    </div>
</template>
