<!-- main skelelist template -->
<template name="skelelist">
    <div class="skelelist">
        {{> gearLoading}}

        {{> Template.dynamic template=(listStyle this.schema.__listView.style) data=this}}
    </div>
</template>

<!-- table list style -->
<template name="skelelistTable">
    {{#if isTranslatable}}
        {{> skelelistLangBar}}
    {{/if}}

    <table class="{{this.schema.__listView.classes}} responsive-table">
        <thead>
            <tr>
                {{#with this.schema.__listView}}
                    {{#each this.itemFields}}
                        <th>{{label this}}</th>
                    {{/each}}
                    {{#if this.itemActions}}
                        <th>{{_ "actions_lbl"}}</th>
                    {{/if}}
                {{/with}}
            </tr>
        </thead>
        <tbody>
            {{#each paginate this}}
                <tr data-id="{{this._id}}">
                    {{#each ../schema.__listView.itemFields}}
                        {{#with field this .. ../../schema ../..}}
                            <td>
                                {{#if this.link}}
                                    <a class="skelelistLink" href="{{this.link}}">
                                        {{this.value}}
                                    </a>
                                {{else}}
                                    {{this.value}}
                                {{/if}}
                            </td>
                        {{/with}}
                    {{/each}}

                    {{> skelelistActions (actionsData this)}}
                </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if isPaginated this}}
        {{> skelelistPagination this}}
    {{/if}}
</template>


<!-- skelelist view link block helper -->
<template name="skelelistLink">
    <a href="/panel/pages{{currentLangLink}}">
        <i class="material-icons small left">find_in_page</i>
        <div class="navItemName">{{_ "menu_pages"}}</div>
    </a>
</template>


<!-- skelelist actions container -->
<template name="skelelistActions">
    <!-- if actions are defined on schema, include the actions template -->
    {{#if this.schema.__listView.itemActions}}
        <td class="skelelistActions"></td>
    {{/if}}
</template>


<!-- skelelist actions -->
<!-- delete record -->
<template name="skelelistActionDelete">
    <div class="waves-effect waves-light btn secondColor skelelistDelete">
        <i class="material-icons small left">delete</i>
        {{_ "delete_btn"}}
    </div>
</template>


<!-- change password -->
<template name="skelelistActionChangePassword">
    <div class="waves-effect waves-light btn thirdColor skelelistChangePassword">
        <i class="material-icons small left">lock</i>
        {{_ "changePassword_btn"}}
    </div>

    <div class="skelelistActionChangePasswordModalWrapper"></div>
</template>

<!-- change password modal -->
<template name="skelelistActionChangePasswordModal">
    <div id="skeletorUserChangePasswordModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="vSpaced">
                <h5>{{_ "changePasswordTitle_lbl"}}</h5><h6><b>{{item.username}}</b></h6>
            </div>

            <div id="skeletorUserChangePasswordForm"></div>
        </div>
        <div class="modal-footer" id="skeletorUserChangePasswordToolbar"></div>
    </div>
</template>

<!-- toolbar for users' change password form -->
<template name="userChangePasswordToolbar">
    <div class="waves-effect waves-light btn secondColor skeleformChangePassword">
        <i class="material-icons small left">lock</i>
        <span>{{_ "update_btn"}}</span>
    </div>
    <div class="waves-effect waves-light btn firstColor undoChangePassword">
        <i class="material-icons small left">undo</i>
        <span>{{_ "cancel_btn"}}</span>
    </div>
</template>


<!-- pagination -->
<template name="skelelistPagination">
    <ul class="pagination">
        <li class="waves-effect waves-light pointer prevPage">
            <a>
                <i class="material-icons">chevron_left</i>
            </a>
        </li>

        {{#each pages this}}
            <li data-number="{{this}}" class="waves-effect waves-light skelelistPageBtn pointer {{isCurrentPage this}}">
                <div>{{this}}</div>
            </li>
        {{/each}}

        <li class="waves-effect waves-light pointer nextPage">
            <a>
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</template>

<!-- list lang bar -->
<template name="skelelistLangBar">
    <div class="skelelistLangs right">
        {{#each langs}}
            <div class="langFlag {{isActive this}}" data-lang="{{this}}">
                <img src="/images/icons/lang/{{this}}.jpg">
            </div>
        {{/each}}
    </div>
</template>
