// app colors
@import "{}/client/styles/panelColors";


.skelelist {
    .skelelistInfo {
        .skeleCounter {
            background-color: $thirdPanelColor;
            color: $thirdPanelColorText;

            .skeleCounterDescription {
                display: inline-block;
                padding: 15px 25px;
            }

            .skeleCounterNumber {
                display: inline-block;
                background-color: $secondPanelColor;
                padding: 15px 25px;
            }
        }
    }

    table {
        table-layout: fixed;
    }

    th, td {
        padding: 15px 25px;
    }

    .skeleListViewHeader {
        position: relative;
        cursor: pointer;

        .material-icons {
            position: absolute;
            margin-left: 15px;
        }
    }

    .skelelistLangs {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;

        .langFlag {
            float: left;
            margin: 3px 4px;

            img {
                max-height: 30px;
                border: solid 3px darken($thirdPanelColorBorder, 10%);
                cursor: pointer !important;
            }

            &.active {
                img {
                    border-color: $firstHoverColor;
                }
            }
        }
    }

    .skelelistPageBtn {
        padding: 3px 11px;
    }

    .skelelistActions {
        .btn {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        #skeletorUserChangePasswordForm {
            margin-top: 35px;
        }
    }

    .skelelistActionExtras {
        .deleteConfirmation {
            position: relative;

            .cancelDeletion {
                font-weight: bold;
                cursor: pointer;
                margin-left: 7px;
            }

            .barLabel {
                font-size: 11px;
                position: absolute;
                top: -20px;
            }

            .switch {
                margin-top: 10px;
            }
        }
    }

    .skeleLoadMore {
        width: 100%;
        padding: 12px 35px;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;

        &.zeroHeight {
            height: 0;
            padding: 0;
            font-size: 0;
        }
    }

}
