// app colors
@import "{}/client/styles/panelColors";



.skelelistLangs {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    .langFlag {
        float: left;
        margin: 3px 4px;

        img {
            max-height: 30px;
            border: solid 3px darken($thirdColorBorder, 10%);
            cursor: pointer !important;
        }

        &.active {
            img {
                border-color: $firstHoverColor;
            }
        }
    }
}

.skelelistActions {
    .btn {
        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    #skeletorUserChangePasswordForm {
        margin-top: 35px;
    }
}

.skelelistActionExtras {
    .deleteConfirmation {
        position: relative;

        .cancelDeletion {
            color: $secondColor;
            font-weight: bold;
            cursor: pointer;
            margin-left: 7px;
        }

        .barLabel {
            font-size: 11px;
            position: absolute;
            top: -20px;
        }

        .switch {
            margin-top: 10px;
        }
    }
}
